.scroll-to-top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: $font-size-icon;
  line-height: $line-height-sm !important;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.5s, opacity 0.3s;
  z-index: $zindex-offcanvas;
}

.show-scroll-btn {
  transform: translateY(0);
  opacity: 1;
}